
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.container {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: 'Forum', cursive;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2.5rem;
}

.title::after {
  content: "";
  display: block;
  border-top: 1px solid #0c0c0e;
  width: 3.125rem;
  margin: 1.25rem auto 0 auto;

}


/* --------- HEADER ---------- */

.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #0c0c0e;
  color: #fff;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Forum', cursive;
  font-size: 1.875rem;
  line-height: 3.125rem;
  letter-spacing: 0.0375rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 2rem;
  line-height: 3.125rem;
  color: #ddd;
}

.menu__item {
  transition: all .3s;
}

.menu__item:hover {
  color: #fff;
}

.menu__img {
  display: flex;
  align-self: center;
  transition: all .3s;
}

.menu__img:hover {
  transform: scale(1.2);
}

.popup {
  display: none;
}

.hamb {
  display: none;
}

@media(max-width: 1020px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    z-index: 10;
  }
  .menu {
    display: none;
  }

  .hamb {
    display: flex;
    
  }

  .hamb__field {
    padding: 10px 20px;
    cursor: pointer;
    z-index: 6;
  }

  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 6px auto;
    background-color: #fff;
    transition: all .3s;
  }

  .logo {
    z-index: 6;
  }

  .popup {
    display: flex;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #0c0c0e;
    z-index: 5;
    transition: all.3s;
    
  }

  .popup.open {
    left: 0;
  }

  .popup .menu {
    display: flex;
    width: 100%;
    color: #ddd;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    font-size: 32px;
    gap: 10px 0;
    overflow: auto;
  }

  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  body.noscroll {
    overflow: hidden;
  }
}

@media(max-width: 420px) {
  .logo {
    font-size: 1.3rem;
  }
}

/* --------- HEADER ---------- */



/* --------- WELCOME ---------- */

.welcome {
  background-image: url('../images/welcome/welcome-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  padding-top: 13.75rem;
  padding-bottom: 10rem;
}


.welcome__wrapper {
  width: 100%;
  max-width: 37.5rem;
  background-color: #0c0c0e;
  color: #fff;
  padding: 2.5rem 2.19rem;
}

.welcome__title {
  font-family: 'Forum', cursive;
  font-size: 2.5rem;
  line-height: 3.125rem;
  letter-spacing: 0.1875rem;
  text-transform: uppercase;
  text-align: center;
}

@media(max-width: 650px) {
  html .welcome {
    font-size: 14px;
  }

  .welcome {
    min-height: 70vh;
  }
}

@media(max-width: 530px) {
  html .welcome {
    font-size: 12px;
  }

  .welcome {
    min-height: 50vh;
  }
}

@media(max-width: 460px) {
  html .welcome {
    font-size: 10px;
  }

  .welcome {
    min-height: 40vh;
  }
}

@media(max-width: 380px) {
  html .welcome {
    font-size: 8px;
  }

  .welcome {
    min-height: 35vh;
  }
}


/* --------- WELCOME ---------- */



/* --------- ABOUT ---------- */

.about {
  padding-top: 1.25rem;
  padding-bottom: 3.75rem;
}

.about__text {
  text-align: center;
  line-height: 200%;
  margin-bottom: 1.25rem;
}

.about__img {
  width: 100%;
  max-width: 28.125rem;
}

.about__pagination .swiper-pagination-bullet {
  background-color: #0c0c0e;
}

.about__pagination  .swiper-pagination-bullet-active {
  background-color: #bb945f;
}


@media(max-width: 460px) {
  html .about {
    font-size: 14px;
  }
  .about__slide {
    text-align: center;
  }
}
/* --------- ABOUT ---------- */


/* --------- FAVORITES ---------- */

.favorites {
  padding-bottom: 3.75rem;
}

.favorites__title {
  margin-bottom: 2.5rem;
}

.favorites__text {
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.favorites__radios {
  display: flex;
  margin-bottom: 2.5rem;
  align-items: center;
}

.favorites__label {
  margin-left: 5.62rem;
}

.favorites__label span {
  font-weight: 700;
}

.favorites__label:nth-child(1) {
  margin-left: 0;
}

.favorites__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.favorites__box {
  width: 100%;
  max-width: 34.375rem;
  min-height: 34.6875rem;
  border: 1px solid #000;
  padding: 0.94rem 0 0.94rem 1.25rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorites__box-title {
  font-family: 'Forum', cursive;
  line-height: 200%;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
  margin-bottom: 1.25rem;
}

.favorites__box-title::after {
  content: "";
  display: block;
  width: 3.75rem;
  border-top: 1px solid #bb945f;
}

.favorites__box-name {
  text-transform: uppercase;
}

.favorites__box-name,
.favorites__box-author {
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 266%;
  letter-spacing: 0.125rem;
}

.favorites__box-author {
  margin-bottom: 1.25rem;
}

.favorites__box-desc {
  width: 100%;
  max-width: 22.1875rem;
  font-size: 0.9375rem;
  line-height: 266%;
  letter-spacing: 0.125rem;
  margin-bottom: 0.94rem;
}

.favorites__box-btn {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  border: 1px solid #000;
  padding: 0.56rem 1.69rem;
  display: block;
  width: 100%;
  max-width: 4.6875rem;
  transition: all .3s;
}

.favorites__box-btn:hover {
  background-color: #0c0c0e;
  color: #fff;
}

.favorites__box-img {
  position: absolute;
  right: -2rem;
  bottom: -0.07rem;
}

@media(max-width: 1500px) {
  .favorites__inner {
    justify-content: space-around;
  }
}

@media(max-width: 1250px) {
  .favorites__inner {
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 1rem;
  }
}

@media(max-width: 660px) {
  .favorites__text {
    margin-bottom: 1.5rem;
  }

  .favorites__radios {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
  }

  .favorites__label {
    margin-left: 0;
  }

  .favorites__box-img {
    right: 0;
    bottom: 0;
    top: 0;
    width: 7rem;
    height: 10rem;
  }
}

@media(max-width: 530px) {
  .favorites__box {
    padding-right: 1.25rem;
  }
  .favorites__box-title,
  .favorites__box-title::after {
    margin: 0 auto;
  }

  .favorites__box-name,
  .favorites__box-author {
    text-align: center;
  }

  .favorites__box-author  {
    margin-bottom: 0.9rem;
  }

  .favorites__box-img {
    display: none;
  }
}

@media(max-width: 370px) {
  html .favorites__box-desc {
    font-size: 14px;
  }
}
/* --------- FAVORITES ---------- */


/* --------- SHOP ---------- */

.shop {
  padding-bottom: 1.25rem;
}

.shop__text {
  text-align: center;
  line-height: 200%;
  letter-spacing: 0.125rem;
  margin-bottom: 2.5rem;
}

.shop__content-title {
  font-family: 'Forum', cursive;
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: 0.125rem;
  color: #bb945f;
  margin-bottom: 2.5rem;
}

.shop__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shop__content-list {
  width: 100%;
  max-width: 28.125rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem 0;
}

.shop__content-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 3.75rem;
}

.shop__content-list__name {
  width: 100%;
  max-width: 12rem;
}

.band {
  display: block;
  width: 6.25rem;
  border: 0.0625rem solid #bb945f;
}

@media(max-width: 1000px) {
  html .shop__text {
    font-size: 14px;
  }
}

@media(max-width: 920px) {
  .shop__inner {
    flex-direction: column;
    gap: 3rem 0;
  }
}

@media(max-width: 460px) {
  html .shop__inner {
    font-size: 14px;
  }
}

@media(max-width: 360px) {
  .shop__content-title {
    font-size: 2.2rem;
  }

  .shop__content-list__name {
    max-width: 8rem;
  }
  .shop__content-list__item {
    gap: 0 1rem;
  }
}
/* --------- SHOP ---------- */

/* --------- CONTACTS ---------- */

.contacts {
  padding-bottom: 3.75rem;
}

.contacts__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contacts__content-title {
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}

.contacts__content-text {
  line-height: 200%;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25em;
}

@media(max-width: 1160px) {
  .contacts__inner {
    flex-direction: column;
  }
}

@media(max-width: 650px) {
  .contacts__content-map {
    display: none;
  }
}

@media(max-width: 550px) {
  html .contacts__inner {
    font-size: 15px;
  }
}

/* --------- CONTACTS ---------- */


/* --------- CARDS ---------- */

.cards {
  padding-bottom: 2.56rem;
}

.cards__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 1rem;
}

.cards__content-left{
  width: 100%;
  max-width: 37.5rem;
}

.cards__content-left__title {
  text-align: center;
  font-size: 1.875rem;
  letter-spacing: 0.0375rem;
  margin-bottom: 1.88rem;
}

.cards__form {
  padding: 1.25rem 1.25rem 1.87rem 1.25rem;
  border: 3px solid #bb945f;
}

.cards__form-content {
  background-color: #bb945f;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.cards__form-title {
  font-family: 'Forum', cursive;
  font-size: 1.875rem;
  line-height: 166%;
  letter-spacing: 0.0375rem;
  margin-bottom: 1.25rem;
}

.cards__form-input {
  width: 100%;
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1.56rem;
}

.cards__form-input:last-child {
  margin-bottom: 0;
}

.cards__form-btn {
  display: block;
  padding: 0.62rem 2.5rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  border: 1px solid #0c0c0e;
  margin: 0 auto;
  transition: all .3s;
}

.cards__form-btn:hover {
  background-color: #bb945f;
  border-color: #bb945f;
}

.cards__content-right {
  width: 100%;
  max-width: 28.5rem;
  text-align: right;
}

.cards__content-right__title {
  font-family: 'Forum', cursive;
  font-size: 1.875rem;
  letter-spacing: 0.0375rem;
  margin-bottom: 2.19rem;
}

.cards__content-right__text {
  line-height: 200%;
  letter-spacing: 0.025rem;
  margin-bottom: 2.19rem;
}

.cards__content-right__btns {
  display: flex;
  justify-content: flex-end;
  gap: 0 1.25rem
}

.cards__content-right__btn {
  font-size: 0.625rem;
  font-weight: 700;
  letter-spacing: 0.0625em;
  border: 1px solid #0c0c0e;
  padding: 0.56rem 0.92rem;
  transition: all .3s;
}

.cards__content-right__btn:hover {
  background-color: #0c0c0e;
  color: #fff;
}

@media(max-width: 830px) {
  .cards__inner {
    flex-direction: column;
    align-items: center;
    gap: 2rem 0;
  }

  .cards__content-right {
    text-align: center;
  }
}

@media(max-width: 430px) {
  html .cards__inner,
  html .cards__form-title {
    font-size: 15px;
  }
}

/* --------- CARDS ---------- */

/* --------- FOOTER ---------- */

.footer {
  padding-top: 1.25rem;
  padding-bottom: 2.75rem;
  color: #fff;
  background-color: #0c0c0e;
}

.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 1.25rem;
  margin-bottom: 2.87rem;
}

.footer__content {
  width: 100%;
  max-width: 14.3125rem;
}

.footer__text {
  font-size: 0.9375rem;
  line-height: 133%;
  margin-bottom: 0.62rem;
}

.footer__social {
  display: flex;
  align-items: center;
  gap: 0 0.94rem;
}

.footer__social-item {
  transition: all .3s;
}

.footer__social-item:hover {
  transform: scale(1.2);
}

.footer__times {
  text-align: right;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 440px) {
  .footer {
    padding-bottom: 1.8rem;
  }
  .footer__inner,
  .footer__info {
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    margin-bottom: 1.8rem;
  }

  .footer__social {
    justify-content: center;
  }

  .footer__times {
    text-align: center;
  }
}